{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{{ item.title }}</title>
</head>
<body>
    <div class="nav">
            <a href="/articles">Назад</a>
            <a href="/">Головна</a>
            <a href="{% url 'articles-list' %}">Публікації</a>
            <p class="text-white">{{ item.title }}</p>
    </div>
    <div class="container">
        <div>
            <h3>{{ item.title }}</h3>
            <h5 class="text-white">{{ item.pub_date|date:"d E Y"|safe|linebreaks }}</h5>
        </div>
        <div>
            <p class="text-white">{{item.description}}</p>
            {% if item.images.all %}
                <img class="img" src="{{ item.images.all.0.image.url }}" alt="" />
            {% endif %}
        </div>
        <div class='clearfix'></div>
    </div>
</body>
</html>
